
.title {
    text-align: center;
}

.input-group {
    padding: 0 2rem 1rem;
}

.input-group-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.7rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
}

.input-group input {
    display: block;
    width: 95%;
}

.btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}