
.summary {
    max-width: 40rem;
    width: 90%;
    margin: -10rem auto 0;
    position: relative;
    text-align: center;
    line-height: 1.8;
    background-color: #383838;
    color: white;
}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
    opacity: 0;
    animation: reveal-longer 0.5s 0s forwards;
}

.summary p:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
    animation: reveal 0.5s 0.1s forwards;
}

.summary p {
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: reveal 0.5s 0.2s forwards;
}

.summary p:last-of-type {
    animation: reveal 0.5s 0.3s forwards;
}


@media screen and (min-width: 530px) {
    .summary p {
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .summary p:first-of-type {
        text-align: center;
    }
}


@keyframes reveal-longer {
    from {
        translate: 0 30px;
    }
    to {
        translate: none;
        opacity: 1;
    }
}

@keyframes reveal {
    from {
        translate: 0 20px;
    }
    to {
        translate: none;
        opacity: 1;
    }
}