
.summary {
    max-width: 40rem;
    width: 90%;
    margin: -10rem auto 0;
    position: relative;
    text-align: center;
    line-height: 1.8;
    background-color: #383838;
    color: white;
}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
}

.summary p:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.summary p {
    margin-bottom: 0.5rem;
}