
.ride-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}

.ride-info {
    display: flex;
    flex-direction: column;
    min-height: 5rem;
    justify-content: space-between;
}

h3 {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    max-width: 10rem;
    word-wrap: break-word;
}

.seats {
    margin: 0;
}

.details-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.price {
    font-size: 1.7rem;
    font-weight: bold;
}

.price::before {
    content: "$";
}

.price::after {
    content: " /seat";
    font-size: 0.9rem;
}

.btn {
    background: #8063B1;
    font-weight: bold;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn-disabled {
    background: grey;
}

@media screen and (min-width: 350px) {
    .btn {
        padding:  0.7rem 1.5rem;
    }
}

@media screen and (min-width: 550px) {
    .ride-details {
        max-width: 100%;
        margin-bottom: 0;
    }
    
    h3 {
        max-width: 13rem;
    }

    .details-price {
        gap: 1rem;
    }

    .btn {
        padding: 0.6rem 1.05rem;
        font-size: 1rem;
    }
    
    
}


@media screen and (min-width: 768px) {
    
    h3 {
        font-size: 1.5rem;
        max-width: 28rem;
    }
    
}