
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    top: 25vh;
    left: 5%;
    z-index: 50;
    background-color: white;
    width: 90%;
    max-height: 60%;
    overflow: scroll;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;
}

@media screen and (min-width: 1100px) {
    .modal {
        width: 1000px;
        left: calc(50% - 500px);
    }
}


@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }